*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
body{
    background-color:orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    padding: 10px 0px;
}
nav>a{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-decoration: none;
}
nav> a> img{
    width: 25px ;
    height: 25px;
    border-radius: 10px;
}
.main{
    width: 90%;
    height: 70vh;
    margin: 50px;
    padding: 5%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    text-align: center;
}
.main > .email{
    color: rgb(63, 61, 61);
}
.main> h1{
    font-size: 40px;
}
.main > p{
    font-size: 30px;
}
.main > .ref > button{
    color: orangered;
    background-color: white;
    border: none;
}
.main > .ref > button>i{
    font-size: 20px;
}
.main > a{
    text-decoration: none;
    color: orangered;
    font-size: 30px;
}
.main > a:hover{
    color: brown;
}

