*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
}
#data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: orangered;
    border-radius: 10px;
}
#data h1{
    margin-bottom: 10px;
}
#data table{
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    border-color: orangered;
}
#data table >thead>tr>th{
    padding: 10px;
    text-align: center;
    background-color: rgb(250, 184, 160);
}
#data table >tbody>tr>td{
    padding: 5px;
    text-align: center;
}

#back{
    margin: 20px;
}
#back >  a{
    color: white;
    text-decoration: none;
}
#back > a:hover{
    font-size: 20px;
}
