*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 30%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
main h1{
    padding: 5px;
}
input{
    padding: 5px;
    width: 100%;
    height: auto;
}
main form button{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    
}